div.home-wrapper
    h1 Mangosta
    h2 Kills Cobra Snake
    p.description Bullet-proof front-end architecture for fast development
    a(href="https://www.flickr.com/photos/rubund/6337870284/in/photostream/", title="Cynictis penicillata", target="_blank") picture by Rubund
    ul.features
        li
            span.icon.icon-bug
            span Keep your code save from unknown bugs and poltergeists
        li
            span.icon.icon-checklist
            span A clean, linted and beautiful code makes developers happy
        li
            span.icon.icon-clock
            span Improve your development speed by modularizing and reusing your code
        li
            span.icon.icon-gist
            span Good code should be organised in a proper way
        li
            span.icon.icon-screen-normal
            span Best front-end developers keep always an eye on website performance
