// THIS IS THE MAIN INCLUDES SASS FILE and We Love IT

//********************************************
// VENDOR
//********************************************
@import '../../bower_components/normalize.css/normalize.css';
//Bourbon
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
@import '../../bower_components/bourbon/dist/bourbon';

//********************************************
// DEPENDENCIES
//********************************************
@import 'dependencies/helpers';
@import 'dependencies/colors';
@import 'dependencies/typography';
@import 'dependencies/mixins';
@import 'dependencies/forms';

//********************************************
// DEPENDENCIES
//********************************************
@import 'layout/layout';

//********************************************
// COMPONENTS - Reusable pieces of code
//********************************************
@import 'components/buttons';

//********************************************
// MODULES - Single pieces of code
//********************************************
//Common
@import 'modules/common/menu';

//Home
@import 'modules/home/home';

//********************************************
// SHAME
//********************************************
@import 'shame/shame';
