.home {
    @include table-flex();
    background: url('../images/mangosta.jpg') no-repeat top left $black;
    background-size: cover;
    color: $white;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    width: 100%;
}

.home-wrapper {
    max-width: 600px;
    padding: 0 10rem;
    h1 {
        @extend %title;
        @extend %xxxlarge;
        color: $white;
        line-height: 3rem;
        margin-bottom: 0;
    }
    h2 {
        @extend %regular;
        @extend %large;
        color: $white;
    }
    p {
        @extend %regular;
        @extend %large;
        margin-top: 3rem;
    }
    a {
        bottom: 1rem;
        position: absolute;
        right: 1rem;
    }
}

.features {
    @include table-flex($align-content: flex-start, $align-items: flex-start, $flex-direction: column);
    list-style: none;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    li {
        @include table-flex-child(1, 0, 0, 100%);
        @extend %small;
        margin-bottom: 1rem;
        .icon {
            @extend %xlarge;
            margin-right: 1rem;
            vertical-align: middle;
        }
    }
}
