doctype html
html
    head
        meta(charset="utf-8")
        block title
            title Mangosta
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="Bullet-proof front-end architecture for fast development")
        meta(name="keywords", content="Front-end, Architecture, CSS3, Jade, SASS")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        meta(name="robots", content="index, follow")
        meta(name="author", content="Xavier Julian <https://github.com/Xaviju>")
        block meta

        link(rel="stylesheet", href="styles/main.css", type='text/css')
        link(rel="stylesheet", href="../../bower_components/octicons/octicons/octicons.css")
        block styles

    body
        block content
