@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

// Table Flex - http://devbryce.com/site/flexbox/
@mixin table-flex($align-content: stretch, $align-items: stretch, $display: flex, $flex-direction: row, $flex-wrap: wrap, $justify-content: flex-start) {
    align-content: $align-content; // flex-start, flex-end, center, space-between, space-around, stretch
    align-items: $align-items; //flex-start, flex-end, center, baseline, stretch
    display: $display;
    flex-direction: $flex-direction; //row | row-reverse | column | column-reverse
    flex-wrap: $flex-wrap; // nowrap | wrap | wrap-reverse
    justify-content: $justify-content; //flex-start | flex-end | center | space-between | space-around
}

@mixin table-flex-child($flex-grow: 1, $flex-basis: 300px, $flex-shrink: 0, $width:'') {
    flex-basis: $flex-basis;
    flex-grow: $flex-grow;
    flex-shrink: $flex-shrink;
    width: $flex-basis;
    @if #{$width} != null {
        width: #{$width};
    }
}
