@each $font-face in Roboto-Regular, Roboto-Bold, RobotoSlab-Regular, RobotoSlab-Bold, mangosta {
    @font-face {
        font-family: '#{$font-face}';
        src: url('../fonts/#{$font-face}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/#{$font-face}.woff') format('woff'),
        url('../fonts/#{$font-face}.ttf')  format('truetype'),
        url('../fonts/#{$font-face}.svg#{$font-face}') format('svg');
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-weight: normal;
}

// __Font Sizes__ //
%xsmall {font-size: .5rem;}
%small {font-size: .8rem;}
%medium {font-size: 1rem;}
%large {font-size: 1.2rem;}
%larger {font-size: 1.6rem;}
%xlarge {font-size: 2rem;}
%xxlarge {font-size: 3rem;}
%xxxlarge {font-size: 6rem;}

// __Font Types__ //
%title {font-family: 'RobotoSlab-Bold', serif;}
%regular {font-family: 'Roboto-Regular';}
%bold {font-family: 'Roboto-Bold';}
%mangosta {font-family: 'mangosta';}


// Font styles

h1 {
    @extend %xxlarge;
}

h2 {
    @extend %xlarge;
}

h3 {
    @extend %larger;
}

p {
    @extend %regular;
    margin: 0 0 $margin;
    img {
        margin: 0;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

hr {
    border: solid $gray;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: $margin 0;
}

// __Links__

a,
a:visited {
    color: $gray;
    text-decoration: none;
}

//mangosta font
[data-icon]:before {
    content: attr(data-icon);
    font-family: 'mangosta' !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    speak: none;
    text-transform: none !important;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'mangosta' !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    speak: none;
    text-transform: none !important;
}

.icon-bug:before {
    content: 'a';
}
.icon-checklist:before {
    content: 'b';
}
.icon-clock:before {
    content: 'c';
}
.icon-gist:before {
    content: 'e';
}
.icon-screen-normal:before {
    content: 'd';
}
